{% extends "base.html" %} {% block content %}
<script src="/static/lib/js/tinymce/tinymce.min.js"></script>
<script src="/static/lib/js/antwort.js"></script>
<script src="/static/lib/js/button_frage_bearbeiten.js"></script>
<script src="/static/lib/js/button_frage_loeschen.js"></script>
<script src="/static/lib/js/button_antwort_bearbeiten.js"></script>
<script src="/static/lib/js/button_antwort_loeschen.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div id="frageAnzeigen">
  <div class="frage-meta">
    <span class="frage-username">{{ frage.user.username }}</span>
    <span class="frage-erstelldatum"
      >{{ frage.creation_date|date:"Y-m-d H:i" }}</span
    >
  </div>
  <h3>{{ frage.module.text }}: {{ frage.title }}</h3>
  <div class="frageAnzeigen-frage-text">{{ frage.text|safe }}</div>
  <div class="tags">
    <i class="fas fa-tags"></i>
    {% for tag in frage.tag.all %}
    <span class="tag">{{ tag.text }}</span>
    {% endfor %}
  </div>
  <div class="frage-actions">
    <button
      type="submit"
      id="bearbeiten-button"
      onclick="frageBearbeiten('{{ frage.id }}')"
    >
      Bearbeiten
    </button>
    <button
      type="submit"
      id="loeschen-button"
      onclick="frageLoeschen('{{ frage.id }}')"
    >
      Löschen
    </button>
    <button
      type="submit"
      id="like-button"
      data-frage-id="{{ frage.id }}"
      onclick="likeFrage('{{ frage.id }}')"
    >
      <i class="fas fa-thumbs-up"></i> Like
      <span id="like-count">{{ frage.likes }}</span>
    </button>
  </div>
</div>
{% for antwort in antwort %}
<div id="antwort">
  <div class="antwort-meta">
    <span class="antwort-username">{{ antwort.user.username }}</span>
    <span class="antwort-erstelldatum"
      >{{ antwort.creation_date|date:"Y-m-d H:i" }}</span
    >
  </div>
  <div class=".frageAnzeigen-antwort-text">{{ antwort.text|safe }}</div>
  <div class="antwort-actions">
    <button
      type="submit"
      id="bearbeiten-button"
      onclick="antwortBearbeiten('{{ antwort.frage.id }}', '{{ antwort.id }}')"
    >
      Bearbeiten
    </button>
    <button
      type="submit"
      id="loeschen-button"
      onclick="antwortLoeschen('{{ antwort.frage.id }}', '{{ antwort.id }}')"
    >
      Löschen
    </button>
    <button
      type="submit"
      id="like-button"
      onclick="likeFrage('{{ frage.id }}')"
    >
      <i class="fas fa-thumbs-up"></i> Like
      <span id="like-count">{{ frage.likes }}</span>
    </button>
  </div>
</div>
{% endfor %}
<div id="antwort-formular">
  <form id="antwortErstellenFormular" method="post">
    {% csrf_token %}
    <textarea
      id="antwortText"
      name="antwortText"
      placeholder="Antwort schreiben..."
      required
      minlength="6"
    ></textarea>
    <button type="submit" id="antwortSpeichern-button" name="antwortErstellen">
      Absenden
    </button>
  </form>
</div>
{% endblock %}
