{% extends "base.html" %} {% block content %}
{% if frage.user.username != "entfernt"%}
<!--Frage anzeigen-->
<div class="frage">
  <!--Frage Metaangaben-->
  {% include "frage_meta.html" %}

  <!--Frage Überschrift-->
  <h3>{{ frage.module.str_id }}: {{ frage.title }}</h3>

  <!--Frage Text-->
  <div class="frage-text">{{ frage.text|safe }}</div>

  <!--Frage Tags-->
  <div class="tags">
    <i class="fas fa-tags"></i>
    {% for tag in frage.tag.all %}
    <span class="tag">{{ tag.text }}</span>
    {% endfor %}
  </div>

  <!--Frage Buttons laden-->
  {% include "frage_actions.html" %}
</div>
{% else %}
<div class="frage">
  <div class="frage-text">Diese Frage wurde entfernt 🙁</div>
</div>
{% endif %}
<div class="antwort">
  <form id="antwortBearbeitenFormular" method="post">
    {% csrf_token %}
    <textarea id="antwortText" name="antwortText">
{{ antwort.text|safe }}</textarea
    >
    <button type="submit" class="btn btn_blue">Antwort speichern</button>
  </form>
</div>
{% endblock %}
