{% extends "base.html" %} {% block content %}
<!--Frage Erstellen Formular-->
<div id="frageErstellen">
  <form id="frageErstellenFormular" method="post" action="/frage-erstellen/">
    <!--Django Token Übergabe-->
    {% csrf_token %}

    <!--Eingabe Frage Titel-->
    <label for="frageTitel">Fragetitel:</label>
    <input
      type="text"
      id="frageTitel"
      name="frageTitel"
      required
      minlength="6"
      maxlength="150"
      placeholder="Kurzer und aussagekräftiger Titel"
    />

    <!--Eingabe Frage Text-->
    <label for="frageText">Fragetext:</label>
    <textarea
      id="frageText"
      name="frageText"
      placeholder="Bitte stellen Sie Ihre Frage in vollständiger Form dar."
    ></textarea>

    <!--Auswahl Frage Tags-->
    <label for="frageTags">Tag:</label>
    <select id="frageTags" name="frageTags" required multiple size="5">
      {% for tag in tag_choices %}
      <option value="{{ tag.str_id }}">{{ tag.text }}</option>
      {% endfor %}
    </select>

    <!--Auswahl Frage Modul-->
    <label for="frageModul">Modul:</label>
    <select id="frageModul" name="frageModul" required>
      {% for modul in module_choices %}
      <option value="{{ modul.str_id }}">{{ modul.text }}</option>
      {% endfor %}
    </select>

    <!--Button Frage speichern-->
    <button type="submit" class="btn btn_blue">Frage speichern</button>

  </form>
</div>
{% endblock %}
