{% extends "base.html" %} {% block content %}
<div id="startseite">
  <!--Fragen Container-->
  <div class="aktuelle-frage-container">
    <!--Heiße Frage Container-->
    <div class="hot-frage-container">
      <h2>🔥 Heiße Frage 🔥 Sei der erste, der Antwortet!</h2>

      <!--Abfrage, ob eine heiße Frage vorhanden ist-->
      {% if hot_frage %}

      <!--Anzeige der heißen Frage-->
      <div class="frage">
        <!--Frage Metaangaben-->
        <div class="frage-meta">
          <span class="frage-username">{{ hot_frage.user.username }}</span>
          <span class="frage-erstelldatum"
            >{{ hot_frage.creation_date|date:"Y-m-d H:i" }}</span
          >
        </div>

        <!--Frage Überschrift mit Link zur Frage anzeigen-->
        <h3>
          <a href="{% url 'frage-anzeigen' hot_frage.id %}"
            >{{ hot_frage.module.text }}: {{ hot_frage.title }}</a
          >
        </h3>

        <!--Frage Text-->
        <div class="frage-text">{{ hot_frage.text|safe }}</div>

        <!--Frage Tags-->
        <div class="tags">
          <i class="fas fa-tags"></i>
          {% for tag in hot_frage.tag.all %}
          <span class="tag">{{ tag.text }}</span>
          {% endfor %}
        </div>
        {% else %}

        <!-- Anzeige, wenn keine heiße Frage vorhanden ist -->
        <p>Oh, wie es aussieht, haben schon alle eine Antwort. Sehr gut! :]</p>
        {% endif %}

        <!--Frage stellen Button-->
        <span>Stelle jetzt deine Frage!</span>
        <button
          onclick="window.location.href='{% url 'frage-erstellen' %}'"
          class="btn btn_blue"
        >
          Frage stellen
        </button>
      </div>
    </div>

    <!--Aktuelle Fragen-->
    <h2>Aktuelle Fragen</h2>

    <!--Schleife durch Fragen-->
    {% for frage in frage %}
    <div class="frage">
      <!--Frage Metaangaben-->
      <div class="frage-meta">
        <span class="frage-username">{{ frage.user.username }}</span>
        <span class="frage-erstelldatum"
          >{{ frage.creation_date|date:"Y-m-d H:i" }}</span
        >
      </div>

      <!--Frage Überschrift mit Link zur Frage anzeigen-->
      <h3>
        <a href="{% url 'frage-anzeigen' frage.id %}"
          >{{ frage.module.text }}: {{ frage.title }}</a
        >
      </h3>

      <!--Frage Text-->
      <div class="frage-text">{{ frage.text|safe }}</div>

      <!--Frage Tags-->
      <div class="tags">
        <i class="fas fa-tags"></i>
        {% for tag in frage.tag.all %}
        <span class="tag">{{ tag.text }}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

  <!--Profil Container-->
  <div class="profil-container">
    <h2>Profil</h2>

    <div class="profil">
      <!--Benutzername-->
      <h3>{{ user.username }}</h3>

      <!--Punkte des Users-->
      <p>Punkte: {{ user.points }}</p>
    </div>

    <!--Frage des Tages-->
    <h2>Frage des Tages</h2>
    <div class="frage-des-tages-container">
      {{frage_des_tages}}

      <!--Quiz Starten Button-->
      <br />
      <br />
      <span
        >Starte jetzt ein Quiz und messe dich mit anderen!</span
      >
      <button
        onclick="window.location.href='{% url 'quiz:welcome_page' %}'"
        class="btn btn_blue"
      >
        Zum Quiz
      </button>
    </div>

    <!--Top 5 User (Rangliste)-->
    <h2>Rangliste</h2>
    <div class="top5-user">
      <ul>
        {% for top_user in top_5_user %}
        <li>{{ top_user.username }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
