{% extends "base.html" %} {% block content %}
<div id="startseite">
  <!--Fragen Container-->
  <div class="aktuelle-frage-container">
    <!--Heiße Frage Container-->
    <div class="hot-frage-container">
      <h2>🔥 Heiße Frage 🔥 Sei der erste, der antwortet!</h2>

      <!--Abfrage, ob eine heiße Frage vorhanden ist-->
      {% if hot_frage %}

      <!--Anzeige der heißen Frage-->
      <div class="frage">
        <!--Frage Metaangaben-->
        <div class="frage-meta">
          <span class="frage-username"
            >{{ hot_frage.user.username }} ({{ hot_frage.user.rank }})</span
          >
          <span class="frage-erstelldatum"
            >{{ hot_frage.creation_date|date:"Y-m-d H:i" }}</span
          >
        </div>

        <!--Frage Überschrift mit Link zur Frage anzeigen-->
        <h3>
          <a href="{% url 'frage-anzeigen' hot_frage.id %}"
            >{{ hot_frage.module.text }}: {{ hot_frage.title }}</a
          >
        </h3>

        <!--Frage Text-->
        <div class="frage-text frage-text_overflow">
          {{ hot_frage.text|safe }}
        </div>

        <!--Frage Tags-->
        <div class="tags">
          <i class="fas fa-tags"></i>
          {% for tag in hot_frage.tag.all %}
          <span class="tag">{{ tag.text }}</span>
          {% endfor %}
        </div>
        {% else %}

        <!--Anzeige, wenn keine heiße Frage vorhanden ist-->
        <p>Oh, wie es aussieht, haben schon alle eine Antwort. Sehr gut! :]</p>
        {% endif %}
      </div>
      <div class="frage">
        <!--Frage stellen Button-->
        <span>Stelle jetzt deine Frage!</span>
        <button
          onclick="window.location.href='{% url 'frage-erstellen' %}'"
          class="btn btn_blue"
          id="btn_frage_stellen"
        >
          Frage stellen
        </button>
      </div>
    </div>

    <!--Aktuelle Fragen-->
    <h2>Aktuelle Fragen</h2>

    <!--Schleife durch Fragen-->
    {% for frage in page_frage %}
    <div class="frage">
      <!--Frage Metaangaben-->
      {% include "frage_meta.html" %}

      <!--Frage Überschrift mit Link zur Frage anzeigen-->
      <h3>
        <a href="{% url 'frage-anzeigen' frage.id %}"
          >{{ frage.module.text }}: {{ frage.title }}</a
        >
      </h3>

      <!--Frage Text-->
      <div class="frage-text frage-text_overflow">{{ frage.text|safe }}</div>

      <!--Frage Tags-->
      <div class="tags">
        <i class="fas fa-tags"></i>
        {% for tag in frage.tag.all %}
        <span class="tag">{{ tag.text }}</span>
        {% endfor %}
      </div>

      <!--Frage Buttons laden-->
      {% include "frage_actions.html" %}
    </div>
    {% endfor %}

    <!--Paginator-->
    <div class="pagination">
      <span class="step-links">
        {% if page_frage.has_previous %}
        <a href="?page=1">&laquo; erste</a>
        <a href="?page={{ page_frage.previous_page_number }}">vorherige</a>
        {% endif %}

        <span class="current">
          Seite {{ page_frage.number }} von {{ page_frage.paginator.num_pages }}
        </span>

        {% if page_frage.has_next %}
        <a href="?page={{ page_frage.next_page_number }}">nächste</a>
        <a href="?page={{ page_frage.paginator.num_pages }}">letzte &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>

  <!--Profil Container-->
  <div class="profil-container">
    <h2>Profil</h2>

    <div class="profil">
      <!--Name des Users-->
      <p>Username: {{ user.username }}</p>

      <!--Punkte des Users-->
      <p>Punkte: {{ user.points }}</p>

      <!--Level des Users-->
      <p>Level: {{ user.rank }}</p>
    </div>

    <!--Frage des Tages-->
    <h2>Frage des Tages</h2>
    <div class="frage-des-tages-container">
      <form id="antwort-form" method="post">
        <!--Django Token Übergabe-->
        {% csrf_token %}

        <!--Anzeige der Frage-->
        {{frage_des_tages}}

        <!--Anzeigen der Auswahlmöglichkeiten-->
        <div class="radio-btns">
          <!--Antwortmöglichkeit 1-->
          <label class="radio-btn" {% if answer_user_frage_des_tages %}disabled{% endif %}
            ><input
              type="radio"
              name="answer_{{ frage_des_tages.id }}"
              value="op1"
              {% if answer_user_frage_des_tages %}disabled{% endif %}
              {% if answer_user_frage_des_tages == "op1" %}checked{% endif %}
            />
            <div class="radio-circle"></div>
            <span class="radio-label">{{ frage_des_tages.op1 }}</span>
          </label>

          <!--Antwortmöglichkeit 2-->
          <label class="radio-btn" {% if answer_user_frage_des_tages %}disabled{% endif %}
            ><input
              type="radio"
              name="answer_{{ frage_des_tages.id }}"
              value="op2"
              {% if answer_user_frage_des_tages %}disabled{% endif %}
              {% if answer_user_frage_des_tages == "op2" %}checked{% endif %}
            />
            <div class="radio-circle"></div>
            <span class="radio-label">{{ frage_des_tages.op2 }}</span>
          </label>

          <!--Antwortmöglichkeit 3-->
          <label class="radio-btn" {% if answer_user_frage_des_tages %}disabled{% endif %}
            ><input
              type="radio"
              name="answer_{{ frage_des_tages.id }}"
              value="op3"
              {% if answer_user_frage_des_tages %}disabled{% endif %}
              {% if answer_user_frage_des_tages == "op3" %}checked{% endif %}
            />
            <div class="radio-circle"></div>
            <span class="radio-label">{{ frage_des_tages.op3 }}</span>
          </label>

          <!--Antwortmöglichkeit 4-->
          <label class="radio-btn" {% if answer_user_frage_des_tages %}disabled{% endif %}
            ><input
              type="radio"
              name="answer_{{ frage_des_tages.id }}"
              value="op4"
              {% if answer_user_frage_des_tages %}disabled{% endif %}
              {% if answer_user_frage_des_tages == "op4" %}checked{% endif %}
            />
            <div class="radio-circle"></div>
            <span class="radio-label">{{ frage_des_tages.op4 }}</span>
          </label>
        </div>
        <button type="submit" class="btn btn_blue" onclick="submitAntwort(event)" data-user-answer="answer_{{ frage_des_tages.id }}" {% if answer_user_frage_des_tages %}disabled{% endif %}>
          Prüfen
        </button>
        {% comment %} <script>
          function submitAntwortOld() {
            // Ausgewählte Antwort abrufen
            var userAnswer = document.querySelector(
              'input[name="answer_{{ frage_des_tages.id }}"]:checked'
            );
          
            if (!userAnswer) {
              // Der Benutzer hat keine Antwort ausgewählt
              alert("Bitte wähle eine Antwort aus.");
              preventDefault();
            }
          
            // Formular-Daten vorbereiten
            var formData = new FormData(document.getElementById("antwort-form"));
            formData.append("user_answer", userAnswer.value);
          
            // AJAX-Anfrage senden
            fetch("{% url 'antwort-einreichen' %}", {
              method: "POST",
              body: formData,
              credentials: "same-origin",
              headers: {
                "X-CSRFToken": getCookie("csrftoken"), // CSRF-Token hinzufügen
              },
            })
              .then((response) => response.json())
              .then((data) => {
                // Daten verarbeiten, je nach Bedarf
                if (data.allowed) {
                  // Erfolgreich durchgeführt
                  console.log("Aktion erfolgreich durchgeführt");
                } else {
                  // Aktion wurde nicht durchgeführt
                  console.log("Aktion nicht durchgeführt");
                }
              })
              .catch((error) => {
                console.error("Fehler bei der Anfrage:", error);
              });
          }
          
          // Funktion, um das CSRF-Token aus den Cookies zu erhalten
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== "") {
              var cookies = document.cookie.split(";");
              for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + "=") {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
        </script> {% endcomment %}

        {% if answer_user_frage_des_tages %}
          {% if answer_user_frage_des_tages == answer_opt_frage_des_tages %}
            <p><br>Die Antwort ist richtig! 🎉</p>
          {% else %}
            <p><br>Die Antwort ist falsch! 😥 Die richtig Antwort ist: {{ frage_des_tages.ans }}</p>
          {% endif %}
        {% else %}
            <p><br>Du hast die Frage des Tages noch nicht beantwortet?! 😯</p>
        {% endif %}
        
      </form>
    </div>
    
    {% if answer_user_frage_des_tages %}
    <!-- Statistiken anzeigen -->
    <div class="statistics">
        <h3 class="statistics-heading">So wurde bisher abgestimmt 🤓</h3>
        <!-- Zeige die Statistiken für jede Option an -->
        <div class="bar-container">
          <div class="bar" style="width: {{ statistics_frage_des_tages.op1|default:0 }}%">
              <span class="bar-label">{{ statistics_frage_des_tages.op1|default:0 }}%</span>
          </div>
      </div>
      <div class="bar-container">
          <div class="bar" style="width: {{ statistics_frage_des_tages.op2|default:0 }}%">
              <span class="bar-label">{{ statistics_frage_des_tages.op2|default:0 }}%</span>
          </div>
      </div>
      <div class="bar-container">
          <div class="bar" style="width: {{ statistics_frage_des_tages.op3|default:0 }}%">
              <span class="bar-label">{{ statistics_frage_des_tages.op3|default:0 }}%</span>
          </div>
      </div>
      <div class="bar-container">
          <div class="bar" style="width: {{ statistics_frage_des_tages.op4|default:0 }}%">
              <span class="bar-label">{{ statistics_frage_des_tages.op4|default:0 }}%</span>
          </div>
      </div>
  </div>
{% endif %}

    <div class="frage-des-tages-container">
      <!--Quiz Starten Button-->
      <span>Starte jetzt ein Quiz und messe dich mit anderen!</span>
      <button
        onclick="window.location.href='{% url 'quiz:welcome_page' %}'"
        class="btn btn_blue"
        id="btn_zum_quiz"
      >
        Zum Quiz
      </button>
    </div>
    
    <!--Top 5 User (Rangliste)-->
    <h2>Rangliste</h2>
    <div class="rangliste">
      <table>
        {% for top_user in top_5_user %}
        <tr>
          <td class="number">{{ forloop.counter }}</td>
          <td class="name">{{ top_user.username }}</td>
          <td class="points">{{ top_user.points }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {% endblock %}
</div>
