<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Online Quizsystem">
    <link rel="icon" type="image/jpg" href="/static/lib/images/favicon.jpg">
    <title>quiz-brauer-eckes-weder login</title>
    <link rel="stylesheet" href="/static/lib/css/login.css"> 
</head>
<body>
    <h2>Login</h2>
    <form method="post" id="loginFormular">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"id="einloggenButton">Einloggen</button>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    </form>
    <script src="login.js"></script>
</body>
</html>
