{% extends "base.html" %}
{% block content %}
<!-- Wird nicht ausgelagert -->
<style>
    .quiz-question-container {
        transition: opacity 0.5s ease-in-out;
    }

</style>

{% if quiz_already_played %}
    <h2>Fehler</h2>
    <form id="frageErstellenFormular" class="error-form-container">
        <span class="text_large">
            <p>Du hast das Quiz der Woche in dieser Woche bereits gespielt, komm nächste Woche wieder!</p>
            <br>
            <a href="{% url 'quiz:welcome_page' %}">
                <button class="btn btn_blue" type="button" id="btn_zum_quiz">Zurück zur Quiz-Hauptseite</button>
            </a>
        </span>
    </form>
{% else %}
    <h2>Quiz der Woche</h2>
    <form id="frageErstellenFormular" method="post" action="{% url 'quiz:quizderwoche_page' %}">
        {% csrf_token %}
        <div class="quiz-question-container" id="question-container">
            {% for question in questions %}
            <div class="question {% if forloop.first %}active{% endif %}" id="question-{{ forloop.counter }}">
                <!-- Display question number out of total questions -->
                <p class="quiz-question-number">Frage {{ forloop.counter }} von {{ questions|length }}</p>

                <!-- Add a timer element for each question -->
                <p id="timer-{{ forloop.counter }}" class="quiz-timer">verbleibende Zeit: 30 Sekunden</p><hr><br>

                <p class="quiz-question">{{ question.question }}</p><br>
                Wähle eine Antwort:<br>

                <label class="radio-btn"
                    ><input
                        type="radio"
                        name="answer_{{ question.id }}"
                        value="{{ question.op1 }}"
                        />
                        <div class="radio-circle"></div>
                        <span class="radio-label"> {{ question.op1 }}</span>
                </label>

                <label class="radio-btn"
                    ><input
                        type="radio"
                        name="answer_{{ question.id }}"
                        value="{{ question.op2 }}"
                        />
                        <div class="radio-circle"></div>
                        <span class="radio-label"> {{ question.op2 }}</span>
                </label>

                <label class="radio-btn"
                    ><input
                        type="radio"
                        name="answer_{{ question.id }}"
                        value="{{ question.op3 }}"
                        />
                        <div class="radio-circle"></div>
                        <span class="radio-label"> {{ question.op3 }}</span>
                </label>

                <label class="radio-btn"
                    ><input
                        type="radio"
                        name="answer_{{ question.id }}"
                        value="{{ question.op4 }}"
                        />
                        <div class="radio-circle"></div>
                        <span class="radio-label"> {{ question.op4 }}</span>
                </label>

            </div>
            {% endfor %}
        </div>

        <button class="btn btn_blue" type="button" id="next-question-btn">Nächste Frage</button>
        <input type="submit" class="btn btn_blue" value="Quiz abgeben" id="submit-btn" style="display: none;">
    </form>

    <!-- JavaScript -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var currentQuestion = 1;
            var totalQuestions = {{ questions|length }};
            var nextBtn = document.getElementById('next-question-btn');
            var submitBtn = document.getElementById('submit-btn');
            var timerInterval; // Variable to hold the timer interval

            // Add an array to store correct answers for each question
            var correctAnswers = [
                {% for question in questions %}
                '{{ question.ans }}',
                {% endfor %}
            ];

            function startTimer(duration, display) {
                var timer = duration, minutes, seconds;
                timerInterval = setInterval(function () {
                    seconds = parseInt(timer % 60, 10);

                    display.textContent = 'verbleibende Zeit: ' + seconds + ' Sekunden';

                    if (--timer < 0) {
                        clearInterval(timerInterval);
                        nextQuestion();
                    }
                }, 1000);
            }

            function showQuestion(questionNumber) {
                var questionContainer = document.getElementById('question-container');
                questionContainer.style.opacity = 0;

                setTimeout(function () {
                    document.querySelectorAll('.question').forEach(function (question) {
                        question.style.display = 'none';
                    });

                    var currentQuestionElement = document.getElementById('question-' + questionNumber);
                    currentQuestionElement.style.display = 'block';

                    // Start the timer for the current question
                    var timerDisplay = document.getElementById('timer-' + questionNumber);
                    startTimer(30, timerDisplay);

                    if (questionNumber === totalQuestions) {
                        nextBtn.style.display = 'none';
                        submitBtn.style.display = 'inline-block';
                    } else {
                        nextBtn.style.display = 'inline-block';
                        submitBtn.style.display = 'none';
                    }

                    questionContainer.style.opacity = 1;

                    // Reset answer styles from the previous question
                    document.querySelectorAll('.radio-btn input').forEach(function (input) {
                        input.parentElement.style.backgroundColor = '';
                    });
                }, 500);
            }

            function nextQuestion() {
                clearInterval(timerInterval); // Clear the timer interval

                // Highlight both the correct and incorrect answers for the current question
                var question = document.getElementById('question-' + currentQuestion);
                var correctAnswer = correctAnswers[currentQuestion - 1];

                question.querySelectorAll('.radio-btn').forEach(function (answerContainer) {
                    var answerInput = answerContainer.querySelector('input');
                    var label = answerContainer.querySelector('.radio-label');

                    if (answerInput) {
                        var isCorrect = answerInput.value === correctAnswer;
                        label.style.backgroundColor = isCorrect ? 'green' : 'red';
                    }
                });

                // Wait for 1 second before moving to the next question or result page
                setTimeout(function () {
                    currentQuestion++;
                    if (currentQuestion <= totalQuestions) {
                        showQuestion(currentQuestion);
                    } else {
                        // If all questions are answered, submit the form
                        document.getElementById('frageErstellenFormular').submit();
                    }

                    // Change the display style after calling showQuestion
                    if (currentQuestion <= totalQuestions) {
                        nextBtn.style.display = 'inline-block';
                        submitBtn.style.display = 'none';
                    }
                }, 1000);
            }

            function submitQuiz() {
                nextQuestion();
            }

            document.getElementById('next-question-btn').addEventListener('click', function () {
                nextQuestion();
            });

            document.getElementById('submit-btn').addEventListener('click', function () {
                submitQuiz();
            });

            // Initially hide all questions except the first one
            document.querySelectorAll('.question:not(.active)').forEach(function (question) {
                question.style.display = 'none';
            });

            showQuestion(currentQuestion); // Display the first question initially
        });
    </script>
    <!-- End JavaScript -->
{% endif %}
{% endblock %}
