{% extends "base.html" %}
{% block content %}
<style>
    /* Gemeinsamer Stil für die Formulare */
    .form-container {
        width: 100%;
        max-width: 800px;
        margin: 10px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.6);
        box-sizing: border-box;
    }

    /* Stil für die Willkommensliste */
    .welcome-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .welcome-item {
        margin-bottom: 10px;
    }

    .welcome-link {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    /* Stil für die Tabellen */
    .form-container table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    .form-container th,
    .form-container td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

        /* Rechter Container für das zusätzliche Formular */
        .right-container {
        width: calc(33.33% - 10px); /* Ändere die Breite entsprechend deiner Anforderungen */
        box-sizing: border-box;
    }

    /* Zusätzliches Formular */
    .right-container .form-container {
        max-width: 100%; /* Ändere die maximale Breite nach Bedarf */
        margin: 0;
    }

    /* Zusätzlicher Abschnitt für die letzten Quiz der Woche-Ergebnisse des Benutzers */
    .right-container .form-container#userWeeklyResultsFormular {
        margin-top: 0; /* Keinen oberen Abstand mehr hinzufügen */
</style>

<div style="display: flex; justify-content: space-between;">

    <!-- Linker Container für bestehende Formulare und Rangliste -->
    <div style="width: calc(66.66% - 10px);">

        <!-- Willkommensformular -->
        <div class="form-container" id="frageErstellenFormular">
            <h1 class="welcome-heading">Willkommen im Quiz-Bereich</h1>
            <br>
            <p class="welcome-text">Bitte wähle eine Kategorie aus, um mit dem Quiz zu beginnen:</p>
            <br>
            <ul class="welcome-list">
                {% for category in categories %}
                    <li class="welcome-item">
                        <a class="welcome-link" href="{% url 'quiz:quiz_page' category.shortname %}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Formular für bereits gespielte Quizzes -->
        <div class="form-container" id="bereitsGespielteQuizzesFormular">
            <h2>Deine letzten 10 gespielten Quizzes:</h2>
            <br>
            {% if quiz_results %}
                <table>
                    <thead>
                        <tr>
                            <th>Kategorie</th>
                            <th>Punktzahl</th>
                            <th>Gespielt am</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in quiz_results|slice:":10" %}
                            <tr>
                                <td>{{ result.get_category_name }}</td>
                                <td>{{ result.points }}</td>
                                <td>{{ result.when_played }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Noch keine Quizzes gespielt.</p>
            {% endif %}
        </div>

        <!-- Formular für die Rangliste -->
<div class="form-container" id="ranglisteFormular">
    <h2>Rangliste (jeweils höchste Punktzahl):</h2>
    <br>
    {% if grouped_leaderboard %}
        {% for category_name, entries in grouped_leaderboard.items %}
            <br>
            <h3>{{ category_name }}</h3>
            {% if entries %}
                <table>
                    <thead>
                        <tr>
                            <th>Rang</th>
                            <th>Benutzername</th>
                            <th>Punktzahl</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_result in entries %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ user_result.username }}</td>
                                <td>{{ user_result.points }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Keine Rangliste verfügbar.</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Keine Rangliste verfügbar.</p>
    {% endif %}
</div>


    </div>

    <!-- Rechter Container für das zusätzliche Formular -->
    <div style="width: calc(50% - 10px);">
        <!-- Zusätzliches Formular -->
        <div class="form-container" id="testFormular">
            <h1 class="welcome-heading">Quiz der Woche</h1>
            <br>
            <a class="welcome-link" href="{% url 'quiz:quizderwoche_page' %}">Hier geht's los!</a>
        </div>

        <!-- Zusätzlicher Abschnitt für die letzten Quiz der Woche-Ergebnisse des Benutzers -->
        <div class="form-container" id="userWeeklyResultsFormular">
            <h2>Deine letzten 10 Quiz der Woche-Ergebnisse:</h2>
            <br>
            {% if user_weekly_results %}
                <table>
                    <thead>
                        <tr>
                            <th>Kalenderwoche</th>
                            <th>Punktzahl</th>
                            <th>Gespielt am</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in user_weekly_results %}
                            <tr>
                                <td>{{ result.quiz_week }}</td>
                                <td>{{ result.points }}</td>
                                <td>{{ result.when_played }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Noch keine Quiz der Woche gespielt.</p>
            {% endif %}
        </div>

        <!-- Zusätzliches Formular für die wöchentliche Rangliste des Quiz der Woche -->
        <div class="form-container" id="weeklyLeaderboardFormular">
            <h2>Rangliste für die aktuelle Kalenderwoche:</h2>
            <br>
            {% if weekly_leaderboard %}
                <table>
                    <thead>
                        <tr>
                            <th>Rang</th>
                            <th>Benutzername</th>
                            <th>Punktzahl</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in weekly_leaderboard %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ result.username }}</td>
                                <td>{{ result.points }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Noch keine Ergebnisse für das Quiz der Woche.</p>
            {% endif %}
        </div>
        
    </div>

        

</div>

{% endblock %}
