{% extends "base.html" %} {% block content %}
<script src="/static/lib/js/tinymce/tinymce.min.js"></script>
<script src="/static/lib/js/frage.js"></script>
<div id="frageBearbeiten">
  <h3>{{ frage.module.text }}: {{ frage.title }}</h3>
  <form id="frageBearbeitenFormular" method="post" action="">
    {% csrf_token %}
    <textarea id="frageText" name="frageText">{{ frage.text|safe }}</textarea>
    <button type="submit" id="frageSpeichernButton">Frage speichern</button>
  </form>
  <!--
  <div class="tags">
    <i class="fas fa-tags"></i>
    {% for tag in frage.tag.all %}
    <span class="tag">{{ tag.text }}</span>
    {% endfor %}
  </div>
  -->
</div>
{% endblock %}
