<!--Frage Buttons-->
<div class="frage-actions">
  <!--Button Frage liken-->
  <button
    type="button"
    class="btn btn_light_blue"
    onclick="frageLiken('{{ frage.id }}')"
  >
    <i class="fas fa-thumbs-up"></i> Gefällt mir
    <span id="frage-like-count-{{ frage.id }}">{{ frage.likes }}</span>
  </button>

  <!--Nur Anzeigen, wenn User berechtigt-->
  {% if request.user == frage.user %}

  <!--Button Frage bearbeiten-->
  <button
    type="submit"
    class="btn btn_blue"
    onclick="frageBearbeiten('{{ frage.id }}')"
  >
    Bearbeiten
  </button>

  <!--Button Frage löschen-->
  <button
    type="submit"
    class="btn btn_red"
    onclick="frageLoeschen('{{ frage.id }}')"
  >
    Löschen
  </button>
  {% endif %}
</div>
