{% extends "base.html" %} {% block content %}
<div id="startseite">
  <!--Fragen Container-->
  <div class="frage-container">
    <h2>Aktuelle Fragen</h2>
    <!--Schleife durch Fragen-->

    {% for frage in frage %}
    <div class="frage">
      <!--Frage Metaangaben-->
      <div class="frage-meta">
        <span class="frage-username">{{ frage.user.username }}</span>
        <span class="frage-erstelldatum"
          >{{ frage.creation_date|date:"Y-m-d H:i" }}</span
        >
      </div>

      <!--Frage Überschrift mit Link zur Frage anzeigen-->
      <h3>
        <a href="{% url 'frage-anzeigen' frage.id %}"
          >{{ frage.module.text }}: {{ frage.title }}</a
        >
      </h3>

      <!--Frage Text-->
      <div class="frage-text">{{ frage.text|safe }}</div>

      <!--Frage Tags-->
      <div class="tags">
        <i class="fas fa-tags"></i>
        {% for tag in frage.tag.all %}
        <span class="tag">{{ tag.text }}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

  <!--Profil Container-->
  <div class="profil-container">
    <h2>Profil</h2>
    <!--Benutzername-->
    <p>Benutzername: {{ user.username }}</p>

    <!--Anzahl der Markierungen als Hilfreich & Anzahl der Likes-->
    <p>Anzahl der Markierungen als hilfreich: </p>
    <p>Gesamtanzahl der Likes: </p>
  </div>
</div>
{% endblock %}
