<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Online Quizsystem">
    <link rel="icon" type="image/jpg" href="/static/lib/images/favicon.jpg">
    <title>quiz-brauer-eckes-weder login</title>
    <link rel="stylesheet" href="/static/lib/css/logout.css">
    <script>
        setTimeout(function(){
            window.location.href ="{% url 'login' %}"
        }, 4000); // 4 Sekunden Delay
    </script>
</head>
<body>
    <div class="logout-container">
        <div class="spinner"></div>
        <p class="logout-message">Sie werden nun ausgeloggt...</p>
    </div>
</body>
</html>
